body{
    background-color: white;
}
.container{
    background-color: violet;
    min-height: 140rem;
    width: 700rem;
    padding-block-start: 0rem;
    padding-top: 0rem;
    
}
/* .row{
    background-color: violet;
    border:0;
    width: 70rem;
    height: 20rem;
    //padding: 0 20rem;
    margin: 20rem;
} */